.trending::after{
    content: "";
    display: block;
    width:100%;
    max-width: 300px;
    height: 10px;
    background:rgb(31 41 55 );
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.trending{
    position: relative;
    display: inline-block;
    margin: auto;
    margin-bottom: 50px;
    font-weight: 800;
}
.trending::before{
    content: "";
    display: block;
    width:100%;
    max-width: 300px;
    height: 10px;
    background: rgb(31 41 55 );
    right: 110%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
@media screen and (max-width:750px) {
    .trending::after{
        max-width: 50px;
    }   
    .trending::before{
        max-width: 50px;
    }

}
@media screen and (max-width:300px) {
    .trending{
        font-size: 22px;
    }
    .trending::after{
        max-width: 30px;
    }   
    .trending::before{
        max-width: 30px;
    }

}